<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lambs.lambsmanager.dao.PowerMapper">

    <!--获取权限列表-->
    <select id="getPowerList" resultType="com.lambs.lambsmanager.pojo.Power">
        select id, powerName, powers
        from power;
    </select>
</mapper>